<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить клиента</title>
</head>
<body>
<h1>Добавить клиента</h1>
<form action="/clients" th:action="@{/clients}" th:object="${clientRequest}" method="post">
    <label for="fullName">ФИО:</label>
    <input type="text" id="fullName" th:field="*{fullName}" required>
    <br>
    <label for="birthDate">Дата рождения:</label>
    <input type="date" id="birthDate" th:field="*{birthDate}" required>
    <br>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>
